<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/main.css')}}">
    <title>PriPre</title>
    <script src="{{url_for('static', filename='plotly-latest.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
</head>
<body class="main-container">

    <a class="main-container__header header" href="/stats">
        <h1 class="header__text">
            PriPre
        </h1>
    </a>
    <content class="main-container__content content">
        <section class="content__form-block form-block">
            <form class="form-blcok__form form" id="form">
                <div class="form__form-ticket form-ticket">
                    <label class="form-ticket__label">Ticket:</label>
                    <select id="ticket-select" class="form-ticket__select" name="ticket">
                        {% for ticket in tickets %}
                            <option class="form-ticket__option" value="{{ticket}}" label="{{ticket}}">
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form__select-models select-models">
                    <p class="select-models__label">Models</p>
                    <fieldset class="select-models__models-list">
                        {% for model in models %}
                            <div class="select-models__line">
                                <input class="select-models__checkbox" name="{{model}}" type="checkbox">
                                <label class="select-models__label">{{model}}</label>
                            </div>
                        {% endfor %}                        
                    </fieldset>
                </div>
	            <input class="form__submit" type="button" value="Построить">
            </form>
        </section>
        <section class="content__chart-container chart-container " >
            <div class="chart-container__chart" id="chart"></div>
        </section>
    </content>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>